<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gestión Héroes</h5>
          <p class="card-text">En esta sección podrás crear, actualizar y eliminar tus héroes.</p>
          <button type="button" (click)="redirigir('heroes')" class="btn btn-outline-primary">Heroes</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gestión Villanos</h5>
          <p class="card-text">En esta sección podrás crear, actualizar y eliminar tus villanos.</p>
          <button type="button" (click)="redirigir('villanos')" class="btn btn-outline-danger">Villanos</button>
        </div>
      </div>
    </div>
  </div>